body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.head{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.head1{
    font-weight: normal;
    font-size: 50px;
    color: white;
}
.head2{
    font-weight: normal;
    font-size: 50px;
    color: white;
}